#mainFormDiv
{
    width: 50%;
    margin-left: 40%
}

#mainForm
{
    float: center;
    width: 50%;
}

#submitBtn
{
    text-align: left;
}

body {
    background-image: url("../assets/background.jpg");
  }

  input[type=radio] {
    border: 0px;
    width: 8%;
    height: 1em;
}